/* GENERAL PAGE STYLING */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGIN-DIV */
.container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

/* INPUTS-STYLING */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

/* LOGIN-BUTTON */
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* LOGIN-BUTTON-HOVER */
button:hover {
    background-color: #218838;
}

/* SIGNUP-BUTTON */
.signup-btn {
    background-color: #007BFF;
}

/* SIGNUP-BUTTON-HOVER */
.signup-btn:hover {
    background-color: #0056b3;
}